@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.display-container {
  width: 430px;
  height: 430px;
  margin-top: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Bebas Neue', cursive;
  font-size: 10rem;
  letter-spacing: 0.5rem;
  color: #1c2441;

  border-radius: 0.4rem;
  background-color: #dfdfdf;
  border: 3px solid #4b5990;
}

.display_question--right {
  background-color: rgba(32, 136, 32, 0.774);
  border: 0;
}

.display_question--wrong {
  background-color: rgb(187, 53, 53);
  border: 0;
  color: #ffffff;
}

input {
  margin-top: 0.3rem;
  width: 430px;
  height: 50px;

  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  text-align: center;

  border: 3px solid #4b5990;
  border-radius: 0.4rem;
  outline: none;
}